doctype html
html(style='background: #000000;')
	head
		include ./pug/meta.pug

	body

		.jacket
			.jacket__rect
			.jacket__aspect
				.jacket__block
					.jacket__window
						.jacket__sprite
							img.jacket__highres(src='./assets/jacket_highres.jpg')
							img.jacket__lowres(src='./assets/jacket_lowres.jpg')
		
		main.content
			h1.title uri gagarn - For

			p
				|	18.04.04 Release / <a class='normal' href='http://www.magniph.com/'>MAGNIPH</a> / <a class='normal' href='http://hostess.co.jp/'>Hostess</a>
				br
				| 4th album / CD / Digital / HSE-8036
				
			p
				a.highlight(href='https://ototoy.jp/_/default/p/99899') OTOTOY
				| &nbsp;&nbsp;
				a.highlight(href='https://itunes.apple.com/jp/album/for/1358542609') <span class='icon apple'>Apple</span>iTunes
				| &nbsp;&nbsp;
				a.highlight(href='https://open.spotify.com/artist/6KSw0EDlcBHAcZGCPncWOg') <span class='icon spotify'>Spotify</span>Spotify
			
			p
				| 01 Few  02 Ijdb  03 Oblaat
				br
				| 04 Jinx  05 Lion  06 Dept  07 Speak
				br
				| 08 Wall  09 Owl  10 Gondola

			.video
				.video__scale
					.video__wrapper
						iframe.video__iframe(src="https://www.youtube.com/embed/_6cI7AB2YYU?showinfo=0&amp;color=white&amp;rel=0&amp;autohide=1&amp;modestbranding=1&amp;wmode=transparent" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

			p
				| Recorded and Mixed by Yui Kimijima<br>(TSUBAME STUDIO)
				br
				| Mastering by Takenori Goto
				br
				| Designed by DESSIN
			
			h2.subtitle "For" tour

			ul.tours
				li.tour
					h3.tour__title: a.normal(href='http://huckfinn.co.jp/') 5/2 (WED) NAGOYA HUCKFINN
					.tour__detail
						:markdown-it
							OPEN18:30 / START19:00  
							ADV ¥3000 (+1D)  
							TICKET: [LAWSON](http://l-tike.com/order/?gLcode=43963&gPfKey=20180214000000276315&gEntryMthd=01&gScheduleNo=1&gCarrierCd=08&gPfName=%EF%BD%95%EF%BD%92%EF%BD%89%E3%80%80%EF%BD%87%EF%BD%81%EF%BD%87%EF%BD%81%EF%BD%92%EF%BD%8E&gBaseVenueCd=43900)(43963) / [PIA](http://t.pia.jp/pia/ticketInformation.do?eventCd=1808686&rlsCd=001&lotRlsCd=)(109-642) / [e+](http://bit.ly/2oWB67A)  
							w/[羊文学](https://hitsujibungaku.jimdo.com/)  
							JAILHOUSE: [052-936-6041](tel:052-936-6041)
				
				li.tour
					h3.tour__title: a.normal(href='http://www.fandango-go.com/') 5/3 (THU) OSAKA FANDANGO
					.tour__detail
						:markdown-it
							OPEN18:30 / START19:00  
							ADV ¥3000 (+1D)  
							TICKET: [LAWSON](http://l-tike.com/order/?gLcode=56998&gPfKey=20180215000000277263&gEntryMthd=01&gScheduleNo=1&gCarrierCd=08&gPfName=%EF%BD%95%EF%BD%92%EF%BD%89%E3%80%80%EF%BD%87%EF%BD%81%EF%BD%87%EF%BD%81%EF%BD%92%EF%BD%8E&gBaseVenueCd=50756)(56998) / [PIA](http://t.pia.jp/pia/ticketInformation.do?eventCd=1809172&rlsCd=001&lotRlsCd=)(109-905) / [e+](http://bit.ly/2Hn4CdH)  
							w/ [LOSTAGE](http://lostage.co/)  
							SMASH WEST: [06-6535-5569](tel:06-6535-5569)

				li.tour
					h3.tour__title: a.normal(href='http://utero.jp/') 5/5 (SAT) FUKUOKA UTERO
					.tour__detail
						:markdown-it
							"MUSIC UNFAIR"  
							OPEN18:00 / START18:30  
							ADV ¥2000 (+1D)  
							TICKET: [utero.jp/ticket](http://utero.jp/ticket/)  
							w/ [FLUID](http://www.fluid-kyoto.com/), [folk enough](http://folkenough.net/),  
							[THE SHITMS](http://www.nextbatters.net/shitms/), GARORINZ, 未遂, [z/nz](http://znz.xxxxxxxx.jp/)  
							UTERO: [092-534-5222](tel:092-534-5222)
				
				li#bar-txalaparta.tour
					h3.tour__title: a.normal(href='https://bartxalaparta.jimdo.com/') 5/6 (SUN) TOKUSHIMA bar txalaparta
					.tour__detail
						:markdown-it
							OPEN18:00 / START19:00  
							ADV ¥2500 (+1D)  
							TICKET: [bartxalaparta@gmail.com](mailto:bartxalaparta@gmail.com)  
							w/ CARD  
							bar txalaparta: [088-652-8908](tel:088-652-8908)
				
				li.tour
					h3.tour__title: a.normal(href='http://www.unit-tokyo.com/schedule/2018/05/19/180519_urigagarn.php') 5/19 (SAT) TOKYO UNIT
					.tour__detail
						:markdown-it
							OPEN17:15 / START18:00  
							ADV ¥3000 (+1D)  
							TICKET: [LAWSON](http://l-tike.com/order/?gLcode=71482&gPfKey=20180213000000275934&gEntryMthd=01&gScheduleNo=1&gCarrierCd=08&gPfName=%EF%BD%95%EF%BD%92%EF%BD%89%E3%80%80%EF%BD%87%EF%BD%81%EF%BD%87%EF%BD%81%EF%BD%92%EF%BD%8E&gBaseVenueCd=33051)(71482) / [PIA](http://t.pia.jp/pia/ticketInformation.do?eventCd=1808145&rlsCd=001&lotRlsCd=)(109-348) / [e+](http://sort.eplus.jp/sys/T1U14P0010163P0108P002241446P0050001P006001P0030005)  
							uri gagarn (90mins long set)  
							Guest: [カネコアヤノ](http://kanekoayano.net/) (語り弾き)  
							DJ: 出戸学 (OGRE YOU ASSHOLE)  
							HOT STUFF PROMOTION: [03-5720-9999](tel:03-5720-9999)
							
			p.social
				a.abbr.highlight(href='https://www.instagram.com/urigagarn/') Ig
				| &nbsp;&nbsp;&nbsp;
				a.abbr.highlight(href='https://twitter.com/urigagarn') Tw
				| &nbsp;&nbsp;&nbsp;
				a.abbr.highlight(href='https://www.facebook.com/urigagarn/') Fb
			
			p.last
				a.normal(href='http://urigagarn.jp') urigagarn.jp


	script(src='./js/bootstrap.js?' + date)
